<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @periodization_year.title %>
</p>

<%= link_to 'Edit', edit_periodization_year_path(@periodization_year) %> |
<%= link_to 'Back', periodization_years_path %>
