<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= simple_form_for @setting,
                html: { class: 'form-horizontal' },
                wrapper: :horizontal_form do |f| %>

                <%= f.error_notification %>

                <%= f.button :submit, "Change settings", class: "btn btn-success btn-lg"%>
                <% end %>
            </div>
        </div>
    </div>
</div>