<strong>FTP:</strong>
  <%= @setting.ftp %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @setting.weight %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
